$white: #ffffff;
$black: #000000;
$light-black: #252527;
$nav-orange: #f6cd42;
$nav-coral: #5dcecf;
$smart-background: #f1f1ef;
$red-text: #a13430;
$footer-color: #3447af;
$input-focus: #fafaf2;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$font-webapps: 26px;
$text-traffic: 18px;
$text-mobile: 15px;
$traffic-title: 44px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
