.contacts {
  display: flex;
  flex-direction: column;

  width: auto;

  outline: 1px solid red;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 970px;
  outline: 1px solid red;
}

.contacts__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__title {
  margin-top: 41px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__feedback-text {
  width: 515px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 616px;
  min-height: 312px;
  margin: 0 auto;
  border-radius: 15px;

  background-color: $nav-coral;
}

.contacts__form-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0;
}

.contacts__form-wrapp input:focus {
  background-color: $input-focus;
}

.contacts__input-name {
  border: none;
  border-radius: 45px;
  margin: 10px;
  height: 37px;
  width: 243px;
  padding-left: 15px;
}

.contacts__input-email {
  border: none;
  border-radius: 45px;
  margin: 10px;
  height: 37px;
  width: 243px;
  padding-left: 15px;
}

.contacts__input-message {
  margin: 13px;
  padding-top: 10px;
  padding-left: 15px;

  height: 186px;
  width: 505px;

  border: none;
  border-radius: 15px;
}

.contacts__input-message:focus {
  background-color: $input-focus;
}

.contacts__form-message {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.contacts__button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.contacts__submit {
  width: 150px;
  height: 37px;

  margin: 0 auto;
  margin-top: 24px;

  cursor: pointer;
  background-color: $nav-orange;
  border-radius: 45px;
  border: none;
  text-transform: uppercase;
  transition-duration: 1s;
}

.contacts__submit:hover {
  color: $white;
  background-color: $nav-coral;
}

.contacts__submit-text {
  text-align: center;
}

.contacts__reg-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 auto;
  padding-bottom: 83px;
  width: 970px;
  outline: 1px solid red;
}

.contacts__login {
  margin-right: 15px;

  width: 132px;
  height: 37px;

  cursor: pointer;
  border: 1px solid $nav-orange;
  border-radius: 45px;
  background-color: transparent;
  transition-duration: 1s;
}

.contacts__login:focus {
  background-color: $nav-orange;
}

.contacts__login:hover {
  color: $white;
  border: 1px solid $nav-coral;
  background-color: $nav-coral;
}

.contacts__register {
  margin-left: 15px;

  width: 132px;
  height: 37px;

  cursor: pointer;
  border: 1px solid $nav-orange;
  border-radius: 45px;
  background-color: transparent;
  transition-duration: 1s;
}

.contacts__register:focus {
  background-color: $nav-orange;
}

.contacts__register:hover {
  color: $white;
  border: 1px solid $nav-coral;
  background-color: $nav-coral;
}

@media (max-width: $tablet-width) {
  .contacts__wrapper {
    width: 768px;
  }

  .contacts__description {
    width: auto;
  }

  .contacts__feedback-text {
    max-width: 515px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__wrapper {
    width: 320px;
  }

  .contacts__feedback-text {
    width: auto;
    padding: 010px;
  }

  .contacts__form {
    width: auto;
  }

  .contacts__form-wrapp {
    flex-direction: column;
  }

  .contacts__form-name {
    text-align: center;
  }

  .contacts__form-name input {
    width: 90%;
  }

  .contacts__form-email {
    text-align: center;
  }

  .contacts__form-email input {
    width: 90%;
  }

  .contacts__form-message {
    padding-bottom: 5px;
  }

  .contacts__input-message {
    margin: 12px 10px;
    width: 90%;
  }
}
