.contacts {
  display: flex;
  flex-direction: column;

  width: auto;

  outline: 1px solid red;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 970px;
  outline: 1px solid red;
}

.contacts__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__title {
  text-align: center;
}

.contacts__feedback-text {
  text-align: center;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 616px;
  min-height: 312px;
  margin: 0 auto;
  border-radius: 15px;

  background-color: $nav-coral;
}

.contacts__form-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 20px;
}

.contacts__form-message {
  display: flex;
  margin: 0 auto;
  padding: 25px;
}

.contacts__button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__submit {
  width: 150px;
  height: 37px;

  margin: 0 auto;
  margin-top: 24px;

  background-color: $nav-orange;
  border: none;
  text-transform: uppercase;
}

.contacts__submit-text {
  text-align: center;
}

.contacts__reg-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 83px;
}

.contacts__login {
  margin-right: 15px;

  width: 132px;
  height: 37px;

  border: 1px solid $nav-orange;
  background-color: transparent;
}

.contacts__register {
  margin-left: 15px;

  width: 132px;
  height: 37px;

  border: 1px solid $nav-orange;
  background-color: transparent;
}
