.main-nav {
  display: flex;
  flex-direction: row;
  min-height: 107px;
  margin: 0 auto;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 970px;
}

.main-nav__wrapper-orange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 15px;
  width: 485px;
  background-color: $nav-orange;
}

.main-nav__wrapper-greenblue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding-right: 15px;
  width: 485px;
}

.main-nav__web {
  margin-bottom: 5px;

  font-size: $font-webapps;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav__platform {
  margin: 0;

  font-size: $text-traffic;
  text-transform: uppercase;
}

.main-nav__contact {
  margin-top: 45px;
  margin-bottom: 0;

  font-size: $text-traffic;
  font-weight: bold;
  color: $white;
}

.main-nav__contact a {
  color: $white;
  text-decoration: none;
}

@media (max-width: $tablet-width) {
  .main-nav {
    width: 768px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    flex-grow: 0;
    margin: 0 auto;
    width: 768px;
  }

  .main-nav__wrapper-orange {
    width: 384px;
    padding-left: 15px;
    background-color: $nav-orange;
  }

  .main-nav__wrapper-greenblue {
    width: 384px;
    padding-right: 15px;
    background-color: $nav-coral;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    width: 320px;
    min-height: 90px;
  }

  .main-nav__wrapper {
    width: 320px;
  }

  .main-nav__wrapper-orange {
    background-color: transparent;
  }

  .main-nav__wrapper-greenblue {
    background-color: transparent;
  }

  .main-nav__web {
    margin-top: 0;
  }

  .main-nav__platform {
    font-size: 16px;
  }

  .main-nav__contact {
    margin-top: 27px;
    font-size: 16px;
  }
}
