.page-footer {
  display: flex;
  flex-direction: column;

  width: auto;

  color: $white;
  background-color: $footer-color;

  font-size: 16px;
  font-weight: bold;
}

.page-footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
}

.page-footer__address {
  margin-bottom: 0;
}

.page-footer__develop {
  display: flex;
  justify-content: center;

  font-size: 10px;
  font-weight: 200;
}

.page-footer__develop pre {
  margin: 0;
}

.page-footer__develop a {
  color: $white;
  text-decoration: none;
}

/*@media (max-width: $tablet-width) {
  .page-header {
  }
}*/
