.page-header {
  display: flex;
  flex-direction: row;

  width: auto;

  box-shadow: 0 10px 65px 0 #2b2929;
  background-image: linear-gradient(to right, $nav-orange 50%, $nav-coral 50%);
  z-index: 1;
}

@media (max-width: $tablet-width) {
  .body-wrapper {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    width: auto;

    background-color: $nav-orange;
    background-image: url("../../img/back-mobile.png");
    background-position: 30% 0;
    background-size: 100%;
  }
}
