.page-footer {
  display: flex;
  flex-direction: column;

  width: auto;

  color: $white;
  background-color: $footer-color;

  font-size: 16px;
  font-weight: bold;
}

.page-footer__container {
  margin: 0 auto;
}

.page-footer__address {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 5px;
}

.page-footer__develop a {
  color: $white;
  text-decoration: none;
}

.page-footer__develop pre {
  margin-top: 0;
  font-size: 12px;
  text-align: center;
}

/*@media (max-width: $desktop-width) {
  .page-footer {
  }
}*/

@media (max-width: $tablet-width) {
  .page-footer__container {
    width: 768px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    width: auto;
    flex-direction: column;
  }

  .page-footer__container {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }
}
