.page-header {
  display: flex;
  flex-direction: row;

  width: auto;

  box-shadow: 0 9px 55px 0 #2b2929;
  background: linear-gradient(to right, $nav-orange 50%, $nav-coral 50%);
  z-index: 1;
}

/*@media (max-width: $tablet-width) {
  .page-header {
  }
}*/
