.page-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: auto;
  /*margin: 0 auto;*/

  z-index: 0;
  outline: 1px solid red;
}

@media (max-width: $tablet-width) {
  .page-main {
    width: 768px;
  }
}

@media (max-width: $mobile-width) {
  .page-main {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
}
