.platform-navigation {
  display: flex;
  flex-direction: column;

  width: auto;

  background-color: $smart-background;
  outline: 1px solid red;
}

.platform-navigation__wrapper-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 970px;
  outline: 1px solid red;
}

.platform-navigation__blocks-description {
  display: flex;
  flex-direction: column;

  width: auto;
  margin-top: 63px;
  padding: 0 257px;

  text-align: center;
}

.platform-navigation__title {
  text-transform: uppercase;
}

.platform-navigation__features {
  display: flex;
  flex-direction: row;
}

.platform-navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.platform-navigation__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
}

.platform-navigation__item img {
  height: 110px;
  padding-bottom: 10px;
}

.platform-navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.platform-navigation__wrapper-title {
  margin-bottom: 0;

  font-size: 17px;
}

.platform-navigation__wrapper-text {
  margin-top: 0;
  width: 293px;
}

.platform-navigation__bottom-text {
  display: inline-block;

  color: $red-text;

  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: $tablet-width) {
  .platform-navigation__wrapper-block {
    width: 768px;
  }

  .platform-navigation__blocks-description {
    width: auto;
    margin-top: 63px;
    padding: 0 140px;
  }

  .platform-navigation__features {
    width: auto;
  }

  .platform-navigation__list {
    width: auto;
  }

  .platform-navigation__item {
    width: 33.3%;
    padding: 0 10px;
  }

  .platform-navigation__wrapper {
    width: auto;
  }

  .platform-navigation__wrapper-text {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .platform-navigation__wrapper-block {
    width: 320px;
  }

  .platform-navigation__wrapper-block p {
    padding: 0 5px;
    font-size: $text-mobile;
  }

  .platform-navigation__blocks-description {
    width: auto;
    margin-top: 50px;
    padding: 0 5px;
  }

  .platform-navigation__features {
    justify-content: center;
  }

  .platform-navigation__item {
    width: auto;
    padding: 3px 20px;
  }
}
