.publisher-score {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  width: auto;
}

.publisher-score__wrapper {
  display: flex;
  flex-direction: row;

  margin: 0 auto;

  width: 970px;
}

.publisher-score__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  width: 470px;
}

.publisher-score__title {
  text-transform: uppercase;
}

.publisher-score__image {
  display: flex;

  margin-top: 30px;
  margin-bottom: 25px;

  width: 433px;
}

@media (max-width: $tablet-width) {
  .publisher-score__wrapper {
    width: 768px;
  }

  .publisher-score__text {
    padding: 0 15px;
    width: 50%;
  }

  .publisher-score__image {
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .publisher-score__wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .publisher-score__text {
    width: auto;
    padding: 15px;
  }

  .publisher-score__image {
    width: auto;
  }

  .publisher-score__title {
    text-align: center;
  }

  .publisher-score__description {
    font-size: $text-mobile;
    text-align: center;
  }
}
