.real-time_bidding {
  display: flex;
  flex-direction: row;
  /*margin: 0 auto;*/

  width: auto;

  background-color: $smart-background;
  outline: 1px solid red;
}

.real-time_bidding__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.real-time_bidding__image {
  display: flex;
  order: 1;

  width: 470px;
}

.real-time_bidding__text {
  display: flex;
  flex-direction: column;

  order: 2;
  width: 470px;
}
