.real-time_bidding {
  display: flex;
  flex-direction: row;

  width: auto;

  background-color: $smart-background;
  outline: 1px solid red;
}

.real-time_bidding__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.real-time_bidding__title {
  text-transform: uppercase;
  text-align: end;
}

.real-time_bidding__description {
  text-align: end;
}

.real-time_bidding__image {
  display: flex;
  order: 1;

  margin: 50px 0;
  width: 50%;
}

.real-time_bidding__text {
  display: flex;
  flex-direction: column;

  padding: 50px 15px;
  width: 50%;
  order: 2;
}

.real-time_bidding__text h2 p {
  text-align: end;
}

@media (max-width: $tablet-width) {
  .real-time_bidding__wrapper {
    width: 768px;
  }
}

@media (max-width: $mobile-width) {
  .real-time_bidding__wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .real-time_bidding__image {
    width: auto;
    margin-top: 20px;
  }

  .real-time_bidding__text {
    width: auto;
    padding: 15px;
  }

  .real-time_bidding__title {
    text-align: center;
  }

  .real-time_bidding__description {
    font-size: $text-mobile;
    text-align: center;
  }
}
