.real-time_bidding {
  display: flex;
  flex-direction: row;
  /*margin: 0 auto;*/

  width: auto;

  background-color: $smart-background;
  outline: 1px solid red;
}

.real-time_bidding__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.real-time_bidding__image {
  display: flex;
  order: 1;

  width: 470px;
}

.real-time_bidding__text {
  display: flex;
  flex-direction: column;

  padding: 0 15px;
  width: 470px;
  order: 2;
}

@media (max-width: $tablet-width) {
  .real-time_bidding__wrapper {
    width: 768px;
  }

  .real-time_bidding__image {
    width: 50%;
  }

  .real-time_bidding__text {
    padding: 0 15px;
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .real-time_bidding__wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .real-time_bidding__image {
    width: auto;
    margin-top: 20px;
  }

  .real-time_bidding__text {
    width: auto;
    padding: 15px;
  }
}
