.smart-targeting {
  display: flex;
  flex-direction: row;
  /*margin: 0 auto;*/

  width: auto;

  background-color: $smart-background;
  outline: 1px solid red;
}

.smart-targeting__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.smart-targeting__image-text {
  display: flex;
  flex-direction: row;
}

.smart-targeting__image {
  display: flex;

  width: 452px;
}

.smart-targeting-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  width: 470px;
}

.smart-targeting__wrapper-table {
  display: flex;
  flex-direction: column;

  padding: 10px;
  color: $black;
  background-color: $white;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

.smart-targeting__table {
  width: 950px;

  border-spacing: 0;
}

/*.smart-targeting__table-title td {
  padding: 7px;
  width: 100px;

  border-right: 1px solid $nav-coral;
  border-bottom: 1px solid $nav-coral;

  text-align: center;
  font-weight: bold;
}*/

.smart-targeting__table-title th {
  padding: 7px;
  width: 100px;

  border-right: 1px solid $nav-coral;
  border-bottom: 1px solid $nav-coral;

  text-align: center;
  font-weight: bold;
}

.smart-targeting__table-title th:last-child {
  border-right: none;
}

/*.smart-targeting__table-title td:last-child {
  border-right: none;
}*/

.smart-targeting__table-description td {
  padding: 15px;

  border-right: 1px solid $nav-coral;

  text-align: center;
}

.smart-targeting__table-description td:last-child {
  border-right: none;
}

/*.smart-targeting__extratable-description {
  display: none;
}*/

.smart-targeting__wrapper-extratable {
  display: flex;
  flex-direction: column;

  padding: 10px;
  color: $black;
  background-color: $white;
}

.smart-targeting__extratable-description td {
  padding: 15px;
  width: 100px;

  border-right: 1px solid $nav-coral;

  text-align: center;
}

.smart-targeting__extratable-description td:last-child {
  border-right: none;
}

.smart-targeting__table-button {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  cursor: pointer;

  background-image: url("../../img/arrow-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px;
  background-color: $nav-coral;
  border-radius: 40px;
  border: none;
  transition: 0.5s;
}

.smart-targeting__table-button:focus {
  box-shadow: 0 0 50px $nav-coral;
}

.smart-targeting__table-button:hover {
  box-shadow: 0 0 50px $nav-coral;
}

@media (max-width: $tablet-width) {
  .smart-targeting__table {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .smart-targeting__wrapper {
    margin-top: 10px;
    width: 320px;
  }

  .smart-targeting__wrapper-table {
    margin: 0 auto;
    width: 300px;

    background: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .smart-targeting__table, thead, th, td, tr {
    display: block;
  }

  .smart-targeting__table {
    width: auto;
  }

  .smart-targeting__table tr {
    margin-top: 5px;
    margin-bottom: 10px;
    /*border: 2px solid #5dcecf;*/
    background-color: $white;
    border-radius: 20px;
  }

  .smart-targeting__table-title {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .smart-targeting__table-description td {
    /* Behave  like a "row" */
    border-right: none;
    border-bottom: 1px solid #5dcecf;
    position: relative;
    width: 280px;
    padding: 0;
    padding-left: 42%;
    text-align: center;
  }

  .smart-targeting__table-description td::before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 1px;
    width: 45%;
    padding-right: 10px;
    white-space: pre-wrap;
    border-right: 1px solid #5dcecf;
  }

  .smart-targeting__table-description td:nth-of-type(1)::before {
    content: "Type";
  }

  .smart-targeting__table-description td:nth-of-type(2)::before {
    content: "Vertical";
  }

  .smart-targeting__table-description td:nth-of-type(3)::before {
    content: "Region";
  }

  .smart-targeting__table-description td:nth-of-type(4)::before {
    content: "Format";
  }

  .smart-targeting__table-description td:nth-of-type(5)::before {
    content: "Targeting";
  }

  .smart-targeting__table-description td:last-child {
    border-bottom: none;
  }

  .smart-targeting__extratable-description td {
    /* Behave  like a "row" */
    border-right: none;
    border-bottom: 1px solid #5dcecf;
    position: relative;
    width: 280px;
    padding: 0;
    padding-left: 42%;

    text-align: center;
  }

  .smart-targeting__extratable-description td::before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 1px;
    width: 45%;
    padding-right: 10px;
    white-space: pre-wrap;
    border-right: 1px solid #5dcecf;

    font-weight: bold;
  }

  .smart-targeting__extratable-description td:nth-of-type(1)::before {
    content: "Type";
  }

  .smart-targeting__extratable-description td:nth-of-type(2)::before {
    content: "Vertical";
  }

  .smart-targeting__extratable-description td:nth-of-type(3)::before {
    content: "Region";
  }

  .smart-targeting__extratable-description td:nth-of-type(4)::before {
    content: "Format";
  }

  .smart-targeting__extratable-description td:nth-of-type(5)::before {
    content: "Targeting";
  }

  .smart-targeting__extratable-description td:last-child {
    border-bottom: none;
  }
}
