.smart-targeting {
  display: flex;
  flex-direction: row;
  /*margin: 0 auto;*/

  width: auto;

  background-color: $smart-background;
  outline: 1px solid red;
}

.smart-targeting__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.smart-targeting__image-text {
  display: flex;
  flex-direction: row;
}

.smart-targeting__image {
  display: flex;

  width: 452px;
}

.smart-targeting-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  width: 470px;
}

.smart-targeting__wrapper-table {
  display: flex;
  flex-direction: column;
}

.smart-targeting__table {
  border-spacing: 0;
}

.smart-targeting__table-title td {
  padding: 15px;

  border-right: 1px solid #5dcecf;
  border-bottom: 1px solid #5dcecf;

  text-align: center;
  font-weight: bold;
}

.smart-targeting__table-description td {
  padding: 15px;

  border-right: 1px solid #5dcecf;

  text-align: center;
}
