.traffic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: auto;
  min-height: 770px;
  /*margin: 0 auto;*/
  color: $light-black;

  background-image: url("../../img/webapps-back.png");
  background-position: 50% 0;
  background-size: auto;
  background-repeat: no-repeat;

  outline: 1px solid red;
}

.traffic__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.traffic__wrapper-get {
  margin: 0 auto;
  width: 470px;
}

.traffic__wrapper-sell {
  margin: 0 auto;
  width: 470px;
}

.traffic__title {
  color: $white;
}

.traffic__description {
  color: $light-black;
}

@media (max-width: $tablet-width) {
  .traffic {
    width: 798px;
  }
}

@media (max-width: $mobile-width) {
  .traffic {
    width: 320px;
  }
}
