.traffic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: auto;
  min-height: 770px;

  color: $light-black;

  background-image: url("../../img/webapps-back.png");
  background-position: 50% -95px;
  background-size: auto;
  background-repeat: no-repeat;

  outline: 1px solid red;
}

.traffic__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  width: 970px;

  outline: 1px solid red;
}

.traffic__wrapper-get {
  display: flex;
  flex-direction: column;

  padding-top: 120px;
  margin-right: 15px;
  margin-left: 15px;
  width: 470px;
}

.traffic__wrapper-get h2 {
  margin: 0;
  padding-right: 110px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.traffic__wrapper-get p {
  margin-top: 30px;
  padding-right: 55px;

  font-size: $text-traffic;
  text-align: left;
  line-height: 20px;
}

.traffic__wrapper-sell {
  display: flex;
  flex-direction: column;

  padding-top: 120px;
  margin-right: 15px;
  margin-left: 15px;
  width: 470px;
}

.traffic__wrapper-sell h2 {
  margin: 0;

  font-size: 44px;
  line-height: 50px;
  text-align: right;
  text-transform: uppercase;
}

.traffic__wrapper-sell p {
  margin-top: 30px;
  padding-left: 55px;

  font-size: $text-traffic;
  text-align: right;
  line-height: 20px;
}

.traffic__title {
  color: $white;
}

.traffic__description {
  color: $light-black;
}

/*@media (max-width: $desktop-width) {
  .traffic {
    width: auto;
  }
}*/

@media (max-width: $tablet-width) {
  .traffic {
    width: auto;
  }

  .traffic__wrapper {
    width: 768px;
  }
}

@media (max-width: $mobile-width) {
  .traffic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: auto;
    min-height: 480px;

    color: $light-black;

    background: linear-gradient(180deg, $nav-orange 40%, $nav-coral 90%);
    /*background-image: url("../../img/back-mobile.png");
    background-position: 40% -95px;
    background-size: 103%;
    background-repeat: no-repeat;*/
  }

  .traffic__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0 auto;

    width: 320px;

    outline: 1px solid red;
  }

  .traffic__wrapper-get {
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    margin: 0 auto;
    width: 290px;
    min-height: 179px;
  }

  .traffic__wrapper-get h2 {
    padding-right: 120px;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
  }

  .traffic__wrapper-get p {
    margin-top: 20px;
    padding-right: 0;

    font-size: $text-mobile;
    text-align: left;
    line-height: 20px;
  }

  .traffic__wrapper-sell {
    display: flex;
    flex-direction: column;

    padding-top: 23px;
    margin-right: 15px;
    margin-left: 0;
    width: 300px;
  }

  .traffic__wrapper-sell h2 {
    margin: 0;

    font-size: 30px;
    line-height: 35px;
    text-align: right;
    text-transform: uppercase;
  }

  .traffic__wrapper-sell p {
    margin-top: 20px;
    padding-left: 55px;

    font-size: $text-mobile;
    text-align: right;
    line-height: 20px;
  }
}
